<%= form_with(model: opening, local: true) do |form| %>
  <% if opening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opening.errors.count, "error") %> prohibited this opening from being saved:</h2>

      <ul>
        <% opening.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employer_id %>
    <%= form.text_field :employer_id %>
  </div>

  <div class="field">
    <%= form.label :date_posted %>
    <%= form.date_select :date_posted %>
  </div>

  <div class="field">
    <%= form.label :urgency %>
    <%= form.text_field :urgency %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
