<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant:</strong>
  <%= @application.applicant_id %>
</p>

<p>
  <strong>Opening:</strong>
  <%= @application.opening_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
